@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

body {
  color: #37352F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark body {
  color: #D4D4D4;
  background-color: #191919;
}